<!DOCTYPE html>
<html>
<head>
    <title>Buku Tamu</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
    <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
  <h1>Simple Nodejs & Express JS apps </h1>
  <h2> Guest book </h2> 
  <b><p>Using MVC Architecture & MariaDB<br> 
  Rafli Setiawan</p></b>
  
  <p><a class="btn btn-primary btn-lg" role="button" href="bukutamu/tambah">+ Add <%=isi%></a></p>
</div>
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"></div>
          <div class="panel-body">
              <!-- Table -->

              <table class="table">
                <tr>
                    <td>No.</td>
                    <td>Nama </td>
                    <td>Email </td>
                    <td>Pesan </td>
                    <td>Modify </td>
                </tr>
               
                 <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a class="btn btn-warning" href="../bukutamu/"><i class="glyphicon glyphicon-edit"></i> Ubah</a>

                        <a class="btn btn-danger" href="../bukutamu/"><i class="glyphicon glyphicon-trash"></i> Hapus</a>

                    </td>
                </tr>
      

            <tr>
                <td colspan="3">No Guest</td>
            </tr>
                   </table>
    </div>
</div>
</div>
</body>
</html>